# INPUT/OUPUT METHODS :-  
- reading the data orinformation from the user----***input()***  
    - static input  
    - dyamic input  
- displaying the information or data to the user----***print()***

In [8]:
a=10  
b=20  
print(a)
print(b)

10
20

In [9]:
a=input()
a

sai

'sai'

In [5]:
a=input()
a

123

'123'

In [11]:
a=input("enter the value =")
a

enter the value =123

'123'

In [12]:
a=float(input("enter the value ="))
a

enter the value =123

123.0

In [13]:
a=input("enter value")
print(a)

enter value123
123

In [14]:
a=10
b=20
c=30
print(a,b,c)

10 20 30

In [18]:
a=10
b=20
c=30
print(a,b,c,sep=",")

10,20,30

In [19]:
a=10
b=20
c=30
print(a,b,c,sep=",",end="%")

10,20,30%

In [15]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [20]:
# gemerate the three values from the user that the values seperated with $ and end with %
a=int(input("enter the a value = "))
b=int(input("enter the b value = "))
c=int(input("enter the c value = "))
print(a,b,c,sep="$",end="%")

enter the a value = 10
enter the b value = 20
enter the c value = 30
10$20$30%

# OPERATORS  
- Arthimatic Operator(+,-,*,**,/,//,%)  
     + output for the normal division is quotient  
     + output for the int divison or float division is int part of quotient  
     + output for the modulo division is remainder  
- Assignment Operator(=) 
- Comparission Operator(<,>,<=,>=,==)  
- Logical operator(AND,OR,NOT)
- Bitwise Operator(&,|,^)  
- Identity Opeartor(is(=),isnot(!=))  
- Membership Operator(in,notin)

# ARTHIMATIC OPERATOR

In [22]:
a=10
b=20
print("addittion",a+b)
print("subbtraction",a-b)
print("multiplication",a*b)
print("power",a**b)
print("divison",a/b)
print("int divison or float division",a//b)
print("modulo division",a%b)

addittion 30
subbtraction -10
multiplication 200
power 100000000000000000000
divison 0.5
int divison or float division 0
modulo division 10

# ASSIGNMENT OPERATOR :-  
- it is represented with =  
- left side of the operator is(=)is called as a variable  
- right side of the opeartor is(=)is called as a value

In [23]:
a=10
b=20
print(a)
print(b)

10
20

# COMPARISON OPERATOR

In [24]:
1>2

False

In [25]:
1<2

True

# LOGICAL OPERATORS  
- AND,OR,NOT  
- if all the inputs are true the output will be true(AND)  
- if any of the is true then the output will be true(OR)  
- opposite to the input (NOT)

In [26]:
1<2 and 2<1

False

In [27]:
1<2 and 2<3

True

In [28]:
1>2 or 2>3

False

In [29]:
1<2 or 2>3

True

In [31]:
a=10
not a

False

# BITWISE OPERATOR :-

In [34]:
2&3
# 2- 0 0 1 0
# 3- 0 0 1 1
# ----------
#    0 0 1 0

2

In [33]:
3|4

7

In [35]:
2^3

1

In [36]:
3<<2

12

In [39]:
3>>2

0

# IDENTITY OPERATOR :-

In [40]:
a is 100 and a is not 100

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-40-2c463c7acec2>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  a is 100 and a is not 100
<ipython-input-40-2c463c7acec2>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  a is 100 and a is not 100

False

# MEMBERSHIP OPEARTOR :-

In [41]:
a=[1,2,3,4,5,6,7]
5 in a

True

In [42]:
a=[1,2,3]
4 in a

False

# FLOW CONTROL :-  
- Conditinal statement(if,else,elif,nestedif)  
- Loops(while,for)  
- Break,Return

## CONDITIONAL STATEMENT :

In [44]:
# C-LANGUAGE 
if(condition):
    true statement block
    statement1
    statement3
    statement4
    ----------
    statementn

SyntaxError: invalid syntax (<ipython-input-44-6d1ea4f28b62>, line 2)

In [ ]:
# C-LANGUAGE 
if(condition):
    True statement block
    statement1
    statement3
    statement4
    ----------
    statementn
else:
    False statement block
    statement1
    statement2
    ----------
    statementn

In [46]:
if 1>2:
    print("True")
    print("False")

In [48]:
if 1>2:
    print("True")
else:
    print("False")

False

In [2]:
# EVEN OR NOT
a=int(input("enter the number="))
if(a%2==0):
    print("EVEN")
else: 
    print("ODD")

enter the number=444
EVEN

In [5]:
# ZERO OR POSITIVE OR NEGATIVE
a=int(input("value="))
if(a==0):
    print("zero")
elif(a>0):
    print("positive")
else:
    print("negative")

value=2
positive

In [13]:
#DIVISIBLE BY 2 BUT NOT 10
n=int(input("value="))
if(n%2==0 and n%10!=0):
    print("number is divisble by 2 but not 10")
else:
    print("invalid")

value=22
number is divisble by 2 but not 10

# RANGE :-
- syntax (start,end,step)   
- start is imclusive and end is exclusive

In [14]:
range(10,15,1)
# 10,11,12,13,14
range(20,40)
# 20,25,30,35
range(30,20,-2)
# 30,28,26,24,22

range(30, 20, -2)

In [15]:
list(range(10,15,1))

[10, 11, 12, 13, 14]

In [17]:
list(range(20,40,5))

[20, 25, 30, 35]

In [18]:
list(range(30,20,-2))

[30, 28, 26, 24, 22]

In [19]:
list(range(20,30))

[20, 21, 22, 23, 24, 25, 26, 27, 28, 29]