In [2]:
print("HELLO WORLD")

HELLO WORLD

In [9]:
a=int(input("enter first number ="))
b=int(input("enter secound number ="))
sum=a + b
print("sum:",sum)

enter first number =1
enter secound number =1
sum: 2

# GOOD AFTERNOON

# Hiiiiii
## friends
### welcome
#### TO
##### VASAVI
###### COLLEGE

# BOLD  
**APSSDC**

# DETAILED LINES  
I am from Vasavi.  
I am Sai.  
I am a student.

# PARAGRAH  
HIII MY NAME IS SAI SEE YOU BYEE

# UNORDERED LIST  
+ ONE  
- TWO  
* THREE  
    + FOUR
    - FIVE
    * SIX  
        + SEVEN
        - EIGHT
        * NINE

# ORDERED LIST  
1. ONE  
2. TWO  
3. THREE  
4. FOUR  
    5. FIVE  
    6. SIX  
    7. SEVEN  
        8. EIGHT  
        9. NINE  
        10. TEN  
            11. ELEVEN  
            12. TWELVE   
            13. THIRTEEN  
            14. FOURTEEN  
                15. FIVTEEN  
                16. SIXTEEN
                17. SEVENTEEN
                18. EIGHTEEN

## COMMENTS  
- USER READABLE INFORMATION OR DATA  
- COMMENTS DOESNT EXECUTE  
- IT IS MENTIONED IN '#'  
- FOR MULTIPLE LINES COMMENT MENTION IN THE FORMAT OF " "

## VARIABLES  
- USED TO STORE DATA  
- STARTS WITH CHARACTERS(UPPER,LOWER),UNDERSCORES  
- NOT STARTS WITH SPECIAL CHAR,SPECIAL SYMBOL,KEYWORDS

## DATA TYPES  
-    INT  (ALL INTEGER VALUES)  
-  FLOAT  (INTEGERS WITH DECIMAL POINT)  
-    STR  (COMBINATION OFCHARACTERTS)  
- COMPLEX (NUMBER WITH REAL AND IMAGINARY VALUES)  
- BOOLEAN (TRUE,FALSE)

In [41]:
a=123
b=12.3
c="vasavi"
d=1+2j
e=True

In [42]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'complex'>
<class 'bool'>

# TYPECASTING
- CONVERTS ONE DATA FROM ONE DATA TYPE TO ANOTHER DATA TYPE

In [43]:
A=123
print(type(A))

<class 'int'>

In [44]:
z=str(A)
print(type(z))
print(z)

<class 'str'>
123

In [45]:
z=float(A)
print(type(z))
print(z)

<class 'float'>
123.0

In [46]:
z=complex(A)
print(type(z))
print(z)

<class 'complex'>
(123+0j)

In [47]:
a="vasavi"
print(type(a))

<class 'str'>

In [48]:
a="1234567"
z=int(a)
print(type(z))
print(z)

<class 'int'>
1234567